.container{
    height: 500px;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
   
    
}

.hidden{
    visibility: hidden;
}

#countdown{
    
    font-weight: bolder;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

#numbers-list{
    
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 3rem;
}

#numbers-list li{
    margin: 50px 30px;
}